<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<div id="graph_container">
    <div id="graph_column1" class="graph_column"><h1>{{ title1 }}</h1></div>
    <div id="graph_column2" class="graph_column"><h1>{{ title2 }}</h1></div>
    <div id="graph_column3" class="graph_column"><h1>{{ title3 }}</h1></div>
</div>

<div class="clear"></div>


<!-- <button id="addGraphButton" onclick="addGraph()">Add Graph...</button> -->
<script src="../static/gauge.js"></script>
<script>
    // create instance of Gauge for the three tests:
    const gauge = new Gauge('{{ server }}');

    // parameters = stream, div name (see graph_container dev above), graph name
    gauge.addGraph('{{ up1 }}/{{ up1_port }}', "graph_column1", "upstream");
    gauge.addGraph('{{ down1 }}/{{ down1_port }}', "graph_column1", "downstream");

    gauge.addGraph('{{ up2 }}/{{ up2_port }}', "graph_column2", "upstream");
    gauge.addGraph('{{ down2 }}/{{ down2_port }}', "graph_column2", "downstream");

    gauge.addGraph('{{ up3 }}/{{ up3_port }}', "graph_column3", "upstream");
    gauge.addGraph('{{ down3 }}/{{ down3_port }}', "graph_column3", "downstream");
</script>



