<form action="http://127.0.0.1:5000/test" method="post" id="form_home_settings">

    <label for="server_domain">Server domain</label><br>
    <input type="text" name="server" id="server_domain" value="byteblower-tutorial-3100.lab.byteblower.excentis.com"><br>

    {# input for test 1 #}
    <div class="test_setup_part">

        <label for="test_title1">Test 1 title</label><br>
        <input type="text" name="title1" id="test_title1" class="test_title" placeholder="Today’s DOCSIS 3.1 technology"><br>

        <label for="up1">upstream</label><br>
        <select name="up1" id="" class="port_select">
            <option selected>trunk-1-1</option>
            <option>trunk-1-1</option>
            <option>trunk-1-2</option>
            <option>trunk-1-3</option>
            <option>trunk-1-4</option>
        </select><br>

        <label for="down1">downstream</label><br>
        <select name="down1" id="" class="port_select">
            <option selected>trunk-1-1</option>
            <option>trunk-1-1</option>
            <option>trunk-1-2</option>
            <option>trunk-1-3</option>
            <option>trunk-1-4</option>
        </select>
    </div>

    {# input for test 2 #}
    <div class="test_setup_part">
        <label for="test_title1">Test 2 title</label><br>
        <input type="text" name="title2" id="test_title1" class="test_title" placeholder="XGS-PON technology"><br>


        <label for="up2">upstream</label><br>
        <select name="up2" id="" class="port_select">
            <option selected>trunk-1-1</option>
            <option>trunk-1-1</option>
            <option>trunk-1-2</option>
            <option>trunk-1-3</option>
            <option>trunk-1-4</option>
        </select><br>

        <label for="down2">downstream</label><br>
        <select name="down2" id="" class="port_select">
            <option selected>trunk-1-1</option>
            <option>trunk-1-1</option>
            <option>trunk-1-2</option>
            <option>trunk-1-3</option>
            <option>trunk-1-4</option>
        </select>
    </div>

    {# input for test 3 #}
    <div class="test_setup_part">
        <label for="test_title1">Test 3 title</label><br>
        <input type="text" name="title3" id="test_title1" class="test_title" placeholder="DOCSIS 4.0 technology"><br>


        <label for="up3">upstream</label><br>
        <select name="up3" id="" class="port_select">
            <option selected>trunk-1-1</option>
            <option>trunk-1-1</option>
            <option>trunk-1-2</option>
            <option>trunk-1-3</option>
            <option>trunk-1-4</option>
        </select><br>

        <label for="down3">downstream</label><br>
        <select name="down3" id="" class="port_select">
            <option selected>trunk-1-1</option>
            <option>trunk-1-1</option>
            <option>trunk-1-2</option>
            <option>trunk-1-3</option>
            <option>trunk-1-4</option>
        </select>
    </div>

    <label for=""></label>
    <input type="submit" value="Show graph" id="btn_submit">
</form>

